extends ../_template

block var
	- const assetsPath = "./"
	- const pageTitl = "RVS Basic Haha" + ""
	- const bodyClass = "index"
	- let bodyClassModifier = ""
	//--- Data

block headScripts
	//- script.
	//- include data/gon

block mainBody
	include module/body

block bodyFooter

block dotTemplate
